<div class="container mt-5" align="center">
    <div class="card p-3" style="width:500px">
      <div class="card-header bg-primary text-white text-center">
        <h5>DEVICE DETAILS</h5>
      </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody *ngFor="let i of deviceInfo">
                  <tr>
                    <th scope="row">BROWSER</th>
                    <td>{{i.browser}}</td>
                  </tr>
                  <tr>
                    <th scope="row" >DEVICE</th>
                    <td>{{i.device}}</td>
                  </tr>
                  <tr>
                    <th scope="row">DEVICE TYPE</th>
                    <td>{{i.deviceType}}</td>
                  </tr>
                  <tr>
                    <th scope="row">OS</th>
                    <td>{{i.os}}</td>
                  </tr>
                  <tr>
                    <th scope="row">OS VERSION</th>
                    <td>{{i.os_version}}</td>
                  </tr>
                </tbody>
               
              </table>
        </div>
      </div>
</div>